<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>APAGAR PEDIDO</title>
      <link rel="stylesheet" href="../static/bootstrap.css">

  </head>
  <body>
  <div class="container">
      {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul id="messages" class="list-unstyled">
                        {% for message in messages %}
                            <li class="alert alert-warning">{{ message }}</li>
                        {% endfor %}
                        </ul>
            {% endif %}
        {% endwith %}
  </div>


      <div class="page-header">
              <h1>{{ titulo }}</h1>
          <a href="/" class="btn btn-outline-primary btn-sm">Página Inicial</a>
          </div>
  <form action="/deletarpedido" method="post">
        <fieldset>
             <div class="form-group">
                 <br>
            <label for="senha">Senha do pedido:</label>
                 <br>
            <input type="text" id="senha" name="senha" class="form-control">
                 <br>
        </div>
          <button type="submit" class="btn btn-outline-danger">DELETAR PEDIDO?</button>
        </fieldset>
      </form>
</body>
</html>